html,
body {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  max-width: 100vw;
  justify-content: space-between;
  position: relative;
}

.header__logo {
  align-self: center;
  margin: 110px auto 0 auto;
}

.figure-left-tablet {
  display: none;
}

.figure-right-tablet {
  display: none;
}

.figure-left-mobile {
  display: none;
}

.figure-right-mobile {
  display: none;
}

.header__figure-left,
.header__figure-right {
  position: absolute;
}

.header__figure-right {
  right: 0
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.content {
  align-self: center;
  margin: 0 auto;
}

.title {
  margin: 92px 0 8px 0;
  font-weight: 700;
  font-size: 72px;
  line-height: 104%;
  text-align: center;
  text-transform: uppercase;
  color: #162C4E;
  opacity: 0.39;
}

.text,
.text-check {
  margin: 0 auto;
  width: 423px;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.timer {
  display: flex;
  justify-content: center;
  margin: 32px 0 70px 0;
}

.timer__container {
  width: 132px;
}

.timer__item,
.colon {
  font-weight: 600;
  font-size: 72px;
  line-height: 100%;
  color: #162C4E;
}

.timer__item {
  width: 132px;
  text-align: center;
  margin: 0;
}

.timer__background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 54.12px;
  background-image: url(../images/wave.svg);
  background-repeat: no-repeat;
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF;
}

.timer__background-mobile {
  display: none;
}

.event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 60px;
  margin: 12px 0 156px 0;
  background: #1D4169;
  border-radius: 40px;
  text-decoration: none;
  gap: 30px;
}

.event__button-text {
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
}

.footer {
  background: #162C4E;
}

.footer__container {
  justify-content: space-between;
  align-items: center;
  max-width: 1740px;
  margin: 65px auto;
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.footer__item-input {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  grid-column: 4 / 6;
  grid-row: 1 / 2;
}

.footer__item-button {
  grid-column: 8 / 9;
  grid-row: 1 / 2;
}

#button-addon2 {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

#form {
  width: 440px;
}

#email {
  width: 440px;
  height: 59px;
  padding-left: 27px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 40px;
  outline: none;
  margin: 0;
}

.footer__input._error {
  border-bottom: 1px solid #000;
  box-shadow: 0 0 15px #DF2224;
}

.footer__input-button {
  width: 43px;
  height: 43px;
  position: absolute;
  z-index: 50;
  right: 10px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #DF2224;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.footer__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-top: 12px;
  text-decoration: none;
  gap: 10px;
}

.event__button-arrow {
  transform: rotate(90deg);
}

.event__button-text {
  margin: 0;
}


#exampleModal {
  --bs-modal-border-radius: 0;
  --bs-modal-width: 320px;
  --bs-modal-height: 370px;
  --bs-modal-footer-border-width: 0;
  --bs-modal-header-border-width: 0;
  background: rgba(22, 44, 78, 0.6);
}

#exampleModalLabel {
  margin-top: 35px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 104%;
  text-align: center;
  text-transform: uppercase;
  color: #162C4E;
}

#modalBody {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

#btnClose {
  background: #1D4169;
  border-radius: 40px;
  width: 200px;
  height: 60px;
  margin-bottom: 70px;
}

#modalFooter {
  justify-content: center;
  padding: 0;
}

.gallery {
  display: none;
}

.gallery {
  display: block;
}

.wrapper-accordion {
  width: 850px;
  margin: 200px auto;
}

.accordion_wrap ul {
  display: flex;
  justify-content: center;
}

.accordion_item {
  list-style: none;
  width: 85px;
  height: 682px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  position: relative;
  transition: all 0.2s linear;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.accordion_item_one {
  background: linear-gradient(180deg, rgba(18, 18, 18, 0.7) 0%, #162C4E 100%), url(../../assets/images/IMG_9678_1.jpg);
}

.accordion_item_two {
  background: linear-gradient(180deg, rgba(18, 18, 18, 0.7) 0%, #162C4E 100%), url(../../assets/images/accordion-item-2.jpg);
}

.accordion_item_three {
  background: linear-gradient(180deg, rgba(18, 18, 18, 0.7) 0%, #162C4E 100%), url(../../assets/images/accordion-item-3.jpg);
}

.accordion_item_four {
  background: linear-gradient(180deg, rgba(18, 18, 18, 0.7) 0%, #162C4E 100%), url(../../assets/images/accordion-item-4.jpg);
}

.accordion_item_five {
  background: linear-gradient(180deg, rgba(18, 18, 18, 0.7) 0%, #162C4E 100%), url(../../assets/images/accordion-item-7.jpg);
}

.accordion_item_six {
  background: linear-gradient(180deg, rgba(18, 18, 18, 0.7) 0%, #162C4E 100%), url(../../assets/images/accordion-item-6.jpg);
}

.accordion_item_seven {
  background: linear-gradient(180deg, rgba(18, 18, 18, 0.7) 0%, #162C4E 100%), url(../../assets/images/accordion-item-7.jpg);
}

.accordion_item_eight {
  background: linear-gradient(180deg, rgba(18, 18, 18, 0.7) 0%, #162C4E 100%), url(../../assets/images/accordion-item-3.jpg);
}

.accordion_wrap li.active .accordion_item {
  background: #162C4E;
  border-right: 1px solid #162C4E;
}

.accordion_wrap li:first-child .accordion_item {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.accordion_wrap li:last-child .accordion_item,
.accordion_wrap li:last-child .accordion_menu {
  border-right: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.accordion_wrap ul li .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-text {
  position: relative;
  top: 300px;
  width: 570px;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  color: #FFFFFF;
  transform: rotate(-90deg);
}

.icon-number {
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.accordion_wrap ul li {
  display: flex;
}

.accordion_menu {
  width: 0px;
  height: 682px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  overflow: hidden;
  transition: width 0.2s ease;
}

.accordion_menu_one {
  background-image: url(../../assets/images/IMG_9678_1.jpg);
}

.accordion_menu_two {
  background-image: url(../../assets/images/accordion-item-2.jpg);
}

.accordion_menu_three {
  background-image: url(../../assets/images/accordion-item-3.jpg);
}

.accordion_menu_four {
  background-image: url(../../assets/images/accordion-item-4.jpg);
}

.accordion_menu_five {
  background-image: url(../../assets/images/accordion-item-7.jpg);
}

.accordion_menu_six {
  background-image: url(../../assets/images/accordion-item-6.jpg);
}

.accordion_menu_seven {
  background-image: url(../../assets/images/accordion-item-7.jpg);
}

.accordion_menu_eight {
  background-image: url(../../assets/images/accordion-item-3.jpg);
}

.accordion_wrap ul li.active .accordion_menu {
  width: 995px;
}

.inner_am {
  display: flex;
  align-items: end;
  padding: 42px;
  width: 364px;
  height: 682px;
  background: rgba(18, 18, 18, 0.8);
  backdrop-filter: blur(20px);
}

.content-accordion {
  font-size: 13px;
  font-weight: 300;
  margin: 10px 0;
}

.view_more {
  margin: 20px 0;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 213px;
  height: 62px;
  text-decoration: none;
  gap: 30px;
  border: 2px solid #FFFFFF;
  border-left: 5px solid #FFFFFF;
}

.view_more-text {
  margin: 0;
}

@media screen and (max-width: 1900px) {
  .accordion_wrap ul li.active .accordion_menu {
    width: 800px;
  }

  .inner_am {
    width: 330px;
  }
}

@media screen and (max-width: 1650px) {
  .accordion_wrap ul li.active .accordion_menu {
    width: 700px;
  }

  .inner_am {
    width: 320px;
  }
}

@media screen and (max-width: 1500px) {
  .accordion_wrap ul li.active .accordion_menu {
    width: 550px;
  }
}

@media screen and (max-width: 1350px) {
  .title {
    margin: 168px 0 20px 0;
    font-size: 48px;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
  }

  .footer__input-button {
    width: 33px;
    height: 33px;
    right: 5px;
    top: 5px
  }

  #email {
    width: 360px;
    height: 41px;
    padding-left: 20px;
    font-size: 14px;
  }

  #form {
    width: 360px;
  }

  .footer__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    margin: 30px 0 15px 0;
  }
}

@media screen and (max-width: 1200px) {

  .figure-left-tablet {
    display: block;
  }

  .figure-left-desktop {
    display: none;
  }

  .figure-right-tablet {
    display: block;
  }

  .figure-right-desktop {
    display: none;
  }

  .title {
    margin: 168px 0 20px 0;
    font-size: 36px;
  }

  .text {
    width: 286px;
    font-size: 16px;
  }

  .text-check {
    font-size: 16px;
  }

  .timer {
    margin: 40px 0;
  }

  .timer__item,
  .colon {
    font-size: 36px;
  }

  .timer__background-mobile {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .timer__background-desktop {
    display: none;
  }

  .timer__background {
    width: 64px;
    height: 40px;
    background-image: url(../images/wave-adaptive.svg);
    font-size: 12px;
  }

  .timer__item {
    width: 64px;
  }

  .timer__container {
    width: 64px;
  }

  .colon {
    padding: 0 15px;
  }

  .event__button-text {
    font-size: 16px;
  }

}

@media screen and (max-width: 600px) {

  .figure-left-mobile {
    display: block;
  }

  .figure-left-tablet {
    display: none;
  }

  .figure-right-mobile {
    display: block;
  }

  .figure-right-tablet {
    display: none;
  }

  .footer__container {
    margin: 30px auto;
  }

  .title {
    margin: 66px 0 16px 0;
  }

  .content {
    width: 320px;
  }

  .colon {
    padding: 0 5px;
  }

  .text,
  .text-check {
    width: 100%;
  }

  .event__button {
    margin: 12px 0 120px 0;
  }

  #email {
    width: 300px;
    padding-left: 20px;
    font-size: 14px;
  }

  #form {
    width: 300px;
  }

}
